<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="hero-unit">
 
 <div class="field">
    <%= f.label :qtype %><br />
    <% dic= {'a' => 'Physics', 'b' => 'Chemistry', 'c' => 'Biology'} %>
    <% @type = request.path_parameters[:type] %>
    <%= f.text_field :qtype ,:class => 'span5',:readonly => true,:value => dic[@type]%>
    <%= @question.qtype = dic[@type] %>
    
     
    
   
   
  </div>
 
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title,:class => 'span5' %>
  </div>
  <div class="field">
    <%= f.label :question %><br />
    <%= f.cktext_area :question,:toolbar => "Full",:class => 'span5',:height=>'300px'  %>
  </div>
   <div class="field" >
      <%= f.label :select %>
      <%= f.select :answer, %w[A B C D ] %>
  </div>
   
   <div class="field">
   <% 4.times do %>
   <%= f.label :answer %>
    <%= f.text_field :answer,:class => 'span5' %><br />
    <%end%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
  
 
<% end %>
