<%= form_for @question do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="hero-unit" >
  <div class="field">
    <%= f.label :title,:class => 'yazi'  %><br />
    <div class="controls">
    <%= f.text_field :title,:class => 'span5' %>
    </div>
  </div>
  <div class="field">
    <%= f.label :question %><br />
    <%= f.text_field :question,:class => 'span5'%>
  </div>
    
  <div class="field" >
      <%= f.label :answer %>
      <%= f.select :answer, %w[A B C D ] %>
  </div>
   
   <div class="field">
    <%= f.text_field :answer,:class => 'span5' %>
  </div>
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
<% end %>

