<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="hero-unit">
 
 <div class="field">
 
 
    <%= f.label :qtype %><br />
    <%= f.text_field :qtype ,:class => 'span5',:readonly => true%>
    
 </div>
 
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title,:class => 'span5' %>
  </div>
  <div class="field">
    <%= f.label :question %><br />
    <%= f.cktext_area :question,:toolbar => "Full",:class => 'span5',:height=>'300px'  %>
  </div>
   <div class="field" >
      <%= f.label :select %>
      <%= f.select :answer, %w[A B C D ] %>
  </div>
   
   <%= f.fields_for :answers do |builder| %>
	<div class = "field">
		<%= builder.label  :content , "Answer" %>
		<%= builder.text_field :content, :class => 'span5' %>
	</div>
   <% end %>
   
   
  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
  
 
<% end %>
