<div class="hero-unit">
<h3>Listing questions</h3>

<table class="table table-striped display">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th>Type</th>
      

      <th>Actions</th>
    </tr>
  </thead>
  <tbody>

<% @questions.each do |question| %>
  <tr>
    <td><%= question.id %></td>
    <td><%= link_to question.title, question_path(question)  %></td>
    <td><%= question.created_at %></td>
    <td><%= question.updated_at %></td>
    <td><%= question.qtype %></td>
    
   
    <td>
		<%= link_to 'Show', question,:class => 'btn btn-success' %>
		<%= link_to 'Edit', edit_question_path(question),:class => 'btn btn-warning' %>
		<%= link_to 'Destroy', question, confirm: 'Are you sure?', method: :delete,:class => 'btn  btn-danger' %>
	</td>
  </tr>
<% end %>
</tbody>
</table>

<br />


</div>

 <div class="row">
  <div class="span11">
    <%= button_to 'New-Physics-Question', { :action => "new", :type => "a" }, :class => 'btn btn-large btn-info',:style =>"float:right" %><br />
    <%= button_to 'New-Chemistry-Question', { :action => "new", :type => "b" }, :class => 'btn btn-large btn-warning',:style =>"float:right" %><br />
    <%= button_to 'New-Biology-Question', { :action => "new", :type => "c" }, :class => 'btn btn-large btn-success',:style =>"float:right" %>
  </div>
 </div>

