<div class="hero-unit">
<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @question.qtype %>
</p>

<p>
  <b>Title:</b>
  <%= @question.title %>
</p>

<p>
  <b>Question:</b>
  <%= simple_format(@question.question) %>
</p>

<p>
  <b>Answer:</b>
  <%= @question.answer %>
</p>


<%= link_to 'Edit', edit_question_path(@question),:class => 'btn btn-success' %> |
<%= link_to 'Back', questions_path,:class => 'btn btn-warning' %>
</div>
