<div class="hero-unit">
<p id="notice"><%= notice %></p>

<p>
  <b class = "renk">Type:</b>
  <%= @question.qtype %>
</p>

<p>
  <b class = "renk">Title:</b>
  <%= @question.title %>
</p>

<p>
  <b class = "renk">Question:</b>
  <%= simple_format(@question.question) %>
</p>


<p> <b class = "renk"> Answers : </b>
	<% @question.answers.each_with_index do |answer, ind| %><br />
		<% if @question[:answer] == "ABCD"[ind] %>
			<span class="badge badge-success"><%= "ABCD"[ind] %></span>
				<%= answer.content %>
		<% else %>
             <span class="badge badge-error"><%= "ABCD"[ind] %></span>
				<%= answer.content %>
         <% end %>
     <% end %>
</p>


<%= link_to 'Edit', edit_question_path(@question),:class => 'btn btn-success' %> |
<%= link_to 'Back', questions_path,:class => 'btn btn-warning' %>

</div>
