<div class="hero-unit" style = "height:100px;width:450px;position:absolute;top:100px;left:50px">
	<h2 align= "center" style= "color:green"><%= t 'basic' %></h2></br>
	<p align= "center"><%= t 'test' %> </p>
	
</div>


	<div style= "position:absolute;top:120px;left:5in">

	<div class="span6 offset2">
      <%= form_tag sessions_path,:class=>"form-horizontal" do %>
      <legend><%= t 'login' %></legend>
        <% if flash[:error] %>
          <div class="alert alert-error">
            <%= flash[:error] %>
          </div>
        <% end %>
        <div class="control-group">
          <label class="control-label"><%= t 'user_name' %></label>
	  <%= text_field_tag :username, params[:username] %>
        </div>
        <div class="control-group>">
          <label class="control-label"><%= t 'password' %></label>
	  <%= password_field_tag :password %>
        </div>
        <%= submit_tag t 'enter',:class =>"btn btn-primary" %>
      <% end %>
    </div>
  </div>
