<div class="hero-unit" style = "height:100px;width:450px;position:absolute;top:100px;left:50px">
	<h2>EXAM</h2>
	<p> deneme amaçlı hazırlanmış basit bir sınav sistemidir </p>
	<%= t :hello_world %>
                    <font color="red">
                    <%= t 'welcome.paragraph' %>
                    <%= session[:lang] %>
                    <%= I18n.locale %>
                  </font>
</div>


	<div style= "position:absolute;top:120px;left:5in">

	<div class="span6 offset2">
      <%= form_tag sessions_path,:class=>"form-horizontal" do %>
      <legend>Kullanıcı Girişi</legend>
        <% if flash[:error] %>
          <div class="alert alert-error">
            <%= flash[:error] %>
          </div>
        <% end %>
        <div class="control-group">
          <label class="control-label">Kullanıcı Adınız</label>
	  <%= text_field_tag :username, params[:username] %>
        </div>
        <div class="control-group>">
          <label class="control-label">Parola</label>
	  <%= password_field_tag :password %>
        </div>
        <%= submit_tag "Giriş Yap",:class =>"btn btn-primary" %>
      <% end %>
    </div>
  </div>
