<!DOCTYPE html>
<html>
<head>
  <title>Exam</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "/javascripts/ckeditor/ckeditor.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          
          <a class="brand" href="/">Exam</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
            </ul>
            <ul class="nav pull-right" >
				<% if current_user %>
				  <li><%= link_to current_user.username,"" %></li> 
				  <li><%= link_to "Çıkış",logout_url %> </li>
				<% end %>
				<li> <% if flash[:error] %>
				  <div class="alert alert-error">
					<%= flash[:error] %>
				  </div>
				<% end %>
				</li>
			  <ul>
            </div>
            
          </div><!--/.nav-collapse -->
          
          
        </div>
        
      </div>

<%= yield %>

</body>
</html>
